@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 3rem 0 0 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: #FEFBFB;
  color: #5B5757;
  line-height: 1.6;
}

h1, h2, h3, ul, p {
  margin: 0;
}

h1, h2, h3 {
  font-weight: 600;
  color: #161212;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.section {
  padding: 4rem 0 2rem;
}

.section-title, .section-title-center {
  font-size: 1.25rem;
  color: #161212;
  text-align: center;
}

.m-main {
  overflow-x: hidden;
}

.m-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: auto;
  margin-right: auto;
}

.m-grid {
  display: grid;
  gap: 1.5rem;
}

.m-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #FEFBFB;
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    max-height: 0;
    position: fixed;
    top: 30%;
    overflow: hidden;
    opacity: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
    background-color: #FEFBFB;
    transition: 0.4s;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    z-index: 100;
  }
}
.nav__item:not(:last-child) {
  margin-bottom: 1.5rem;
}

.nav__link {
  transition: 0.3s;
  text-transform: uppercase;
}

.nav__link:hover {
  color: #832ef1;
}

.nav__link, .nav__logo, .nav__toggle {
  color: #161212;
  font-weight: 600;
}

.nav__logo:hover {
  color: #832ef1;
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

.show-menu {
  max-height: 999px;
  top: 3rem;
  opacity: 1;
}

.active-link {
  position: relative;
  font-size: 120%;
  font-weight: 700;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.4em;
  width: 5px;
  height: 5px;
  background-color: #161212;
  border-radius: 50%;
  left: 45%;
}

.scroll-header {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.scroll-top {
  position: fixed;
  right: 1em;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
  background-color: rgba(13, 135, 206, 0.5);
  z-index: 10;
  transition: 0.4s;
  visibility: hidden;
  border-radius: 5px;
}

.scroll-top:hover {
  background-color: #832ef1;
}

.scroll-top__icon {
  font-size: 1.5rem;
  color: #FEFBFB;
}

.show-scroll {
  visibility: visible;
  bottom: 1.5em;
}

.home__container {
  row-gap: 0.5em;
}

.home__img {
  width: 280px;
  justify-self: center;
}

.home__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.home__description {
  margin-bottom: 1.5rem;
}

.button {
  display: inline-block;
  background-color: #832ef1;
  color: #fff;
  padding: 1em 1.5em;
  border-radius: 0.5em;
  font-weight: 600;
  transition: 0.3s;
}

.button:hover {
  background-color: #c22c0b;
}

.panels__data {
  text-align: center;
}

.panels__description {
  margin-bottom: 1rem;
}

.panels__img {
  width: 280px;
  justify-self: center;
}

.installation__container {
  grid-template-columns: repeat(auto-fit, minimax(220px, 1fr));
}

.installation__data {
  text-align: center;
  padding: 1em 1em 2em;
  background-color: #FFF;
  box-shadow: 0px 2px 6px rgba(65, 11, 16, 0.15);
  border-radius: 1rem;
}

.installation__data:hover {
  box-shadow: 0px 3px 12px rgba(65, 11, 16, 0.15);
}

.installation__img {
  width: 180px;
}

.installation__title {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
